# Random Forest

Due to overfitting in decision tree we use the random forest. Random forest is the model in which we make different different tree using bootstrap dataset & lastly check our predictor feature with each of the tree the majority will be our output

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
df = pd.read_csv("C:/Users/sharm/Desktop/PY/Random_forest/house-votes-84.csv",index_col=0)
df

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
Class Name,,,,,,,,,,,,,,,,
republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
republican,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y
democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y
republican,n,?,n,y,y,y,n,n,n,n,y,y,y,y,n,y
republican,n,n,n,y,y,y,?,?,?,?,n,y,y,y,n,y
republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,?,n

In [45]:
df = df.reset_index() #In our data frame we have ? which are null values
df

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,republican,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y
431,democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y
432,republican,n,?,n,y,y,y,n,n,n,n,y,y,y,y,n,y
433,republican,n,n,n,y,y,y,?,?,?,?,n,y,y,y,n,y
434,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,?,n

In [58]:
df = df.replace("?",np.nan) #We will not be able to find null values by df.isna().sum() so we first need to convert them into nan
df

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN
2,democrat,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,republican,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y
431,democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y
432,republican,n,NaN,n,y,y,y,n,n,n,n,y,y,y,y,n,y
433,republican,n,n,n,y,y,y,NaN,NaN,NaN,NaN,n,y,y,y,n,y
434,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,NaN,n

In [59]:
df.columns

Index(['Class Name', ' handicapped-infants', ' water-project-cost-sharing',
       ' adoption-of-the-budget-resolution', ' physician-fee-freeze',
       ' el-salvador-aid', ' religious-groups-in-schools',
       ' anti-satellite-test-ban', ' aid-to-nicaraguan-contras', ' mx-missile',
       ' immigration', ' synfuels-corporation-cutback', ' education-spending',
       ' superfund-right-to-sue', ' crime', ' duty-free-exports',
       ' export-administration-act-south-africa'],
      dtype='object')

In [60]:
republican = df[df["Class Name"]=="republican"]
republican

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN
7,republican,n,y,n,y,y,y,n,n,n,n,n,n,y,y,NaN,y
8,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
10,republican,n,y,n,y,y,n,n,n,n,n,NaN,NaN,y,y,n,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,republican,n,n,n,y,y,y,y,y,n,y,n,y,y,y,n,y
430,republican,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y
432,republican,n,NaN,n,y,y,y,n,n,n,n,y,y,y,y,n,y
433,republican,n,n,n,y,y,y,NaN,NaN,NaN,NaN,n,y,y,y,n,y
434,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,NaN,n

In [61]:
republican= republican.replace("?",np.nan)

In [62]:
republican.isna().sum()

Class Name                                  0
 handicapped-infants                        3
 water-project-cost-sharing                20
 adoption-of-the-budget-resolution          4
 physician-fee-freeze                       3
 el-salvador-aid                            3
 religious-groups-in-schools                2
 anti-satellite-test-ban                    6
 aid-to-nicaraguan-contras                 11
 mx-missile                                 3
 immigration                                3
 synfuels-corporation-cutback               9
 education-spending                        13
 superfund-right-to-sue                    10
 crime                                      7
 duty-free-exports                         12
 export-administration-act-south-africa    22
dtype: int64

In [64]:
democrat = df[df["Class Name"]=="democrat"]
democrat

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
2,democrat,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y
5,democrat,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y
6,democrat,n,y,n,y,y,y,n,n,n,n,n,n,NaN,y,y,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,democrat,n,n,y,n,n,n,y,y,n,y,y,n,n,n,y,NaN
426,democrat,y,n,y,n,n,n,y,y,y,y,n,n,n,n,y,y
428,democrat,NaN,NaN,NaN,n,n,n,y,y,y,y,n,n,y,n,y,y
429,democrat,y,n,y,n,NaN,n,y,y,y,y,n,y,n,NaN,y,y
431,democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y

In [65]:
democrat.isna().sum()

Class Name                                  0
 handicapped-infants                        9
 water-project-cost-sharing                28
 adoption-of-the-budget-resolution          7
 physician-fee-freeze                       8
 el-salvador-aid                           12
 religious-groups-in-schools                9
 anti-satellite-test-ban                    8
 aid-to-nicaraguan-contras                  4
 mx-missile                                19
 immigration                                4
 synfuels-corporation-cutback              12
 education-spending                        18
 superfund-right-to-sue                    15
 crime                                     10
 duty-free-exports                         16
 export-administration-act-south-africa    82
dtype: int64

In [76]:
for i in df.columns:
    republican[i] = republican[i].fillna(republican[i].mode()[0])

In [77]:
for i in df.columns:
    democrat[i] = democrat[i].fillna(democrat[i].mode()[0])

<ipython-input-77-22960e9a853d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  democrat[i] = democrat[i].fillna(democrat[i].mode()[0])

In [78]:
republican.isna().sum()

Class Name                                 0
 handicapped-infants                       0
 water-project-cost-sharing                0
 adoption-of-the-budget-resolution         0
 physician-fee-freeze                      0
 el-salvador-aid                           0
 religious-groups-in-schools               0
 anti-satellite-test-ban                   0
 aid-to-nicaraguan-contras                 0
 mx-missile                                0
 immigration                               0
 synfuels-corporation-cutback              0
 education-spending                        0
 superfund-right-to-sue                    0
 crime                                     0
 duty-free-exports                         0
 export-administration-act-south-africa    0
dtype: int64

In [79]:
democrat.isna().sum()

Class Name                                 0
 handicapped-infants                       0
 water-project-cost-sharing                0
 adoption-of-the-budget-resolution         0
 physician-fee-freeze                      0
 el-salvador-aid                           0
 religious-groups-in-schools               0
 anti-satellite-test-ban                   0
 aid-to-nicaraguan-contras                 0
 mx-missile                                0
 immigration                               0
 synfuels-corporation-cutback              0
 education-spending                        0
 superfund-right-to-sue                    0
 crime                                     0
 duty-free-exports                         0
 export-administration-act-south-africa    0
dtype: int64

In [82]:
new_df = pd.concat([republican,democrat],axis=0)
new_df

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
7,republican,n,y,n,y,y,y,n,n,n,n,n,n,y,y,n,y
8,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
10,republican,n,y,n,y,y,n,n,n,n,n,n,y,y,y,n,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,democrat,n,n,y,n,n,n,y,y,n,y,y,n,n,n,y,y
426,democrat,y,n,y,n,n,n,y,y,y,y,n,n,n,n,y,y
428,democrat,y,y,y,n,n,n,y,y,y,y,n,n,y,n,y,y
429,democrat,y,n,y,n,n,n,y,y,y,y,n,y,n,n,y,y
431,democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y

In [85]:
y=new_df["Class Name"]

In [88]:
x=new_df.drop("Class Name",axis=1)
x

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,n,y,n,y,y,y,n,n,n,y,n,y,y,y,n,y
1,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
7,n,y,n,y,y,y,n,n,n,n,n,n,y,y,n,y
8,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
10,n,y,n,y,y,n,n,n,n,n,n,y,y,y,n,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,n,n,y,n,n,n,y,y,n,y,y,n,n,n,y,y
426,y,n,y,n,n,n,y,y,y,y,n,n,n,n,y,y
428,y,y,y,n,n,n,y,y,y,y,n,n,y,n,y,y
429,y,n,y,n,n,n,y,y,y,y,n,y,n,n,y,y
431,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y

In [89]:
x.isna().sum()

 handicapped-infants                       0
 water-project-cost-sharing                0
 adoption-of-the-budget-resolution         0
 physician-fee-freeze                      0
 el-salvador-aid                           0
 religious-groups-in-schools               0
 anti-satellite-test-ban                   0
 aid-to-nicaraguan-contras                 0
 mx-missile                                0
 immigration                               0
 synfuels-corporation-cutback              0
 education-spending                        0
 superfund-right-to-sue                    0
 crime                                     0
 duty-free-exports                         0
 export-administration-act-south-africa    0
dtype: int64

In [90]:
x.shape

(435, 16)

In [91]:
type(x)

pandas.core.frame.DataFrame

In [92]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 0 to 431
Data columns (total 16 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0    handicapped-infants                     435 non-null    object
 1    water-project-cost-sharing              435 non-null    object
 2    adoption-of-the-budget-resolution       435 non-null    object
 3    physician-fee-freeze                    435 non-null    object
 4    el-salvador-aid                         435 non-null    object
 5    religious-groups-in-schools             435 non-null    object
 6    anti-satellite-test-ban                 435 non-null    object
 7    aid-to-nicaraguan-contras               435 non-null    object
 8    mx-missile                              435 non-null    object
 9    immigration                             435 non-null    object
 10   synfuels-corporation-cutback            435 non-null    object
 11   education-spending                      435 non-null    object
 12   superfund-right-to-sue                  435 non-null    object
 13   crime                                   435 non-null    object
 14   duty-free-exports                       435 non-null    object
 15   export-administration-act-south-africa  435 non-null    object
dtypes: object(16)
memory usage: 77.8+ KB

In [93]:
# our feature are not in numeric form so i need to convert them into numeric form with one hot or dummy encoding. so we know
# for non linear model we use one hot encoding & for linear models we use dummy encodinhg. random forest is non linear model so we will use one hot encoding

In [98]:
x = pd.get_dummies(x,columns=x.columns)
x

,handicapped-infants_n_0,handicapped-infants_n_1,handicapped-infants_y_0,handicapped-infants_y_1,water-project-cost-sharing_n_0,water-project-cost-sharing_n_1,water-project-cost-sharing_y_0,water-project-cost-sharing_y_1,adoption-of-the-budget-resolution_n_0,adoption-of-the-budget-resolution_n_1,...,crime_y_0,crime_y_1,duty-free-exports_n_0,duty-free-exports_n_1,duty-free-exports_y_0,duty-free-exports_y_1,export-administration-act-south-africa_n_0,export-administration-act-south-africa_n_1,export-administration-act-south-africa_y_0,export-administration-act-south-africa_y_1
0,0,1,1,0,1,0,0,1,0,1,...,0,1,0,1,1,0,1,0,0,1
1,0,1,1,0,1,0,0,1,0,1,...,0,1,0,1,1,0,1,0,0,1
7,0,1,1,0,1,0,0,1,0,1,...,0,1,0,1,1,0,1,0,0,1
8,0,1,1,0,1,0,0,1,0,1,...,0,1,0,1,1,0,1,0,0,1
10,0,1,1,0,1,0,0,1,0,1,...,0,1,0,1,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,0,1,1,0,0,1,1,0,1,0,...,1,0,1,0,0,1,1,0,0,1
426,1,0,0,1,0,1,1,0,1,0,...,1,0,1,0,0,1,1,0,0,1
428,1,0,0,1,1,0,0,1,1,0,...,1,0,1,0,0,1,1,0,0,1
429,1,0,0,1,0,1,1,0,1,0,...,1,0,1,0,0,1,1,0,0,1
431,0,1,1,0,0,1,1,0,1,0,...,1,0,0,1,1,0,1,0,0,1

In [99]:
# splitting ourdataset into train test

In [102]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30,random_state=42,stratify=y)

In [103]:
# here all features are on same scale so we do not need feature scaling

In [ ]:
# so in theory we have noticed that these tree are based on boot strap dataset. so there are also out of bag data which was 
# not considered for our testing data set so if we want to check that we need to mention parameter as oob_score.
# we can also check our out of bag dataset core by .oob_score_

In [117]:
from sklearn.ensemble import RandomForestClassifier  # random forest by default create 100 trees, if we want to custamize trees we use n_estimators parameter
forest = RandomForestClassifier(n_estimators=20,oob_score=True)
forest.fit(x_train,y_train)

RandomForestClassifier(n_estimators=20, oob_score=True)

In [118]:
forest.score(x_test,y_test)

0.9694656488549618

In [120]:
forest.oob_score_  # here we check our out of bag dataset score which is 95%

0.9572368421052632